[package]
name = "sanitizer-bot"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1"
serde = { version = "1", features = ["derive"] }
dotenvy = "0.15"
libsql = "0.9"
regex = "1.11"
dashmap = "6.1"
lru = "0.16"
scraper = "0.24"

futures-util = { version = "0.3", default-features = false }
reqwest = { version = "0.12", default-features = false, features = ["json", "rustls-tls"] }
tokio = { version = "1.48", features = ["macros", "rt-multi-thread", "signal", "time"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = [
  "std",
  "time",
  "env-filter",
] }
time = { version = "0.3", features = ["macros"] }

# Shuttle
shuttle-runtime = "0.57"
shuttle-turso = "0.57"

# Twilight branch: next
twilight-gateway = { git = "https://github.com/twilight-rs/twilight", rev = "007889d01731d75a0dadcee106795de21235acb4" }
twilight-http = { git = "https://github.com/twilight-rs/twilight", rev = "007889d01731d75a0dadcee106795de21235acb4" }
twilight-model = { git = "https://github.com/twilight-rs/twilight", rev = "007889d01731d75a0dadcee106795de21235acb4" }
twilight-util = { git = "https://github.com/twilight-rs/twilight", rev = "007889d01731d75a0dadcee106795de21235acb4", features = [
  "builder",
] }

[profile.release]
strip = true
lto = "fat"
codegen-units = 1
opt-level = 3
